.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 9px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 5px;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #ddd;
}
